body {
  --my-red-1: 255, 236, 232;
  --my-red-2: 253, 205, 197;
  --my-red-3: 251, 172, 163;
  --my-red-4: 249, 137, 129;
  --my-red-5: 247, 101, 96;
  --my-red-6: 245, 63, 63;
  --my-red-7: 203, 39, 45;
  --my-red-8: 161, 21, 30;
  --my-red-9: 119, 8, 19;
  --my-red-10: 77, 0, 10;
  --my-orangered-1: 255, 243, 232;
  --my-orangered-2: 253, 221, 195;
  --my-orangered-3: 252, 197, 159;
  --my-orangered-4: 250, 172, 123;
  --my-orangered-5: 249, 144, 87;
  --my-orangered-6: 247, 114, 52;
  --my-orangered-7: 204, 81, 32;
  --my-orangered-8: 162, 53, 17;
  --my-orangered-9: 119, 31, 6;
  --my-orangered-10: 77, 14, 0;
  --my-orange-1: 255, 247, 232;
  --my-orange-2: 255, 228, 186;
  --my-orange-3: 255, 207, 139;
  --my-orange-4: 255, 182, 93;
  --my-orange-5: 255, 154, 46;
  --my-orange-6: 255, 125, 0;
  --my-orange-7: 210, 95, 0;
  --my-orange-8: 166, 69, 0;
  --my-orange-9: 121, 46, 0;
  --my-orange-10: 77, 27, 0;
  --my-gold-1: 255, 252, 232;
  --my-gold-2: 253, 244, 191;
  --my-gold-3: 252, 233, 150;
  --my-gold-4: 250, 220, 109;
  --my-gold-5: 249, 204, 69;
  --my-gold-6: 247, 186, 30;
  --my-gold-7: 204, 146, 19;
  --my-gold-8: 162, 109, 10;
  --my-gold-9: 119, 75, 4;
  --my-gold-10: 77, 45, 0;
  --my-yellow-1: 254, 255, 232;
  --my-yellow-2: 254, 254, 190;
  --my-yellow-3: 253, 250, 148;
  --my-yellow-4: 252, 242, 107;
  --my-yellow-5: 251, 232, 66;
  --my-yellow-6: 250, 220, 25;
  --my-yellow-7: 207, 175, 15;
  --my-yellow-8: 163, 132, 8;
  --my-yellow-9: 120, 93, 3;
  --my-yellow-10: 77, 56, 0;
  --my-lime-1: 252, 255, 232;
  --my-lime-2: 237, 248, 187;
  --my-lime-3: 220, 241, 144;
  --my-lime-4: 201, 233, 104;
  --my-lime-5: 181, 226, 65;
  --my-lime-6: 159, 219, 29;
  --my-lime-7: 126, 183, 18;
  --my-lime-8: 95, 148, 10;
  --my-lime-9: 67, 112, 4;
  --my-lime-10: 42, 77, 0;
  --my-green-1: 232, 255, 234;
  --my-green-2: 175, 240, 181;
  --my-green-3: 123, 225, 136;
  --my-green-4: 76, 210, 99;
  --my-green-5: 35, 195, 67;
  --my-green-6: 0, 180, 42;
  --my-green-7: 0, 154, 41;
  --my-green-8: 0, 128, 38;
  --my-green-9: 0, 102, 34;
  --my-green-10: 0, 77, 28;
  --my-cyan-1: 232, 255, 251;
  --my-cyan-2: 183, 244, 236;
  --my-cyan-3: 137, 233, 224;
  --my-cyan-4: 94, 223, 214;
  --my-cyan-5: 55, 212, 207;
  --my-cyan-6: 20, 201, 201;
  --my-cyan-7: 13, 165, 170;
  --my-cyan-8: 7, 130, 139;
  --my-cyan-9: 3, 97, 108;
  --my-cyan-10: 0, 66, 77;
  --my-blue-1: 232, 247, 255;
  --my-blue-2: 195, 231, 254;
  --my-blue-3: 159, 212, 253;
  --my-blue-4: 123, 192, 252;
  --my-blue-5: 87, 169, 251;
  --my-blue-6: 52, 145, 250;
  --my-blue-7: 32, 108, 207;
  --my-blue-8: 17, 75, 163;
  --my-blue-9: 6, 48, 120;
  --my-blue-10: 0, 26, 77;
  --my-arcoblue-1: 232, 243, 255;
  --my-arcoblue-2: 190, 218, 255;
  --my-arcoblue-3: 148, 191, 255;
  --my-arcoblue-4: 106, 161, 255;
  --my-arcoblue-5: 64, 128, 255;
  --my-arcoblue-6: 22, 93, 255;
  --my-arcoblue-7: 14, 66, 210;
  --my-arcoblue-8: 7, 44, 166;
  --my-arcoblue-9: 3, 26, 121;
  --my-arcoblue-10: 0, 13, 77;
  --my-purple-1: 245, 232, 255;
  --my-purple-2: 221, 190, 246;
  --my-purple-3: 195, 150, 237;
  --my-purple-4: 168, 113, 227;
  --my-purple-5: 141, 78, 218;
  --my-purple-6: 114, 46, 209;
  --my-purple-7: 85, 29, 176;
  --my-purple-8: 60, 16, 143;
  --my-purple-9: 39, 6, 110;
  --my-purple-10: 22, 0, 77;
  --my-pinkpurple-1: 255, 232, 251;
  --my-pinkpurple-2: 247, 186, 239;
  --my-pinkpurple-3: 240, 142, 230;
  --my-pinkpurple-4: 232, 101, 223;
  --my-pinkpurple-5: 225, 62, 219;
  --my-pinkpurple-6: 217, 26, 217;
  --my-pinkpurple-7: 176, 16, 182;
  --my-pinkpurple-8: 138, 9, 147;
  --my-pinkpurple-9: 101, 3, 112;
  --my-pinkpurple-10: 66, 0, 77;
  --my-magenta-1: 255, 232, 241;
  --my-magenta-2: 253, 194, 219;
  --my-magenta-3: 251, 157, 199;
  --my-magenta-4: 249, 121, 183;
  --my-magenta-5: 247, 84, 168;
  --my-magenta-6: 245, 49, 157;
  --my-magenta-7: 203, 30, 131;
  --my-magenta-8: 161, 16, 105;
  --my-magenta-9: 119, 6, 79;
  --my-magenta-10: 77, 0, 52;
  --my-gray-1: 247, 248, 250;
  --my-gray-2: 242, 243, 245;
  --my-gray-3: 229, 230, 235;
  --my-gray-4: 201, 205, 212;
  --my-gray-5: 169, 174, 184;
  --my-gray-6: 134, 144, 156;
  --my-gray-7: 107, 119, 133;
  --my-gray-8: 78, 89, 105;
  --my-gray-9: 39, 46, 59;
  --my-gray-10: 29, 33, 41;

  --my-ui-page-bg: 243, 245, 249;
  --my-ui-chat-bg: 255, 255, 255;
}

body[theme-mode='dark'] {
  --my-red-1: 77, 0, 10;
  --my-red-2: 119, 6, 17;
  --my-red-3: 161, 22, 31;
  --my-red-4: 203, 46, 52;
  --my-red-5: 245, 78, 78;
  --my-red-6: 247, 105, 101;
  --my-red-7: 249, 141, 134;
  --my-red-8: 251, 176, 167;
  --my-red-9: 253, 209, 202;
  --my-red-10: 255, 240, 236;
  --my-orangered-1: 77, 14, 0;
  --my-orangered-2: 119, 30, 5;
  --my-orangered-3: 162, 55, 20;
  --my-orangered-4: 204, 87, 41;
  --my-orangered-5: 247, 126, 69;
  --my-orangered-6: 249, 146, 90;
  --my-orangered-7: 250, 173, 125;
  --my-orangered-8: 252, 198, 161;
  --my-orangered-9: 253, 222, 197;
  --my-orangered-10: 255, 244, 235;
  --my-orange-1: 77, 27, 0;
  --my-orange-2: 121, 48, 4;
  --my-orange-3: 166, 75, 10;
  --my-orange-4: 210, 105, 19;
  --my-orange-5: 255, 141, 31;
  --my-orange-6: 255, 150, 38;
  --my-orange-7: 255, 179, 87;
  --my-orange-8: 255, 205, 135;
  --my-orange-9: 255, 227, 184;
  --my-orange-10: 255, 247, 232;
  --my-gold-1: 77, 45, 0;
  --my-gold-2: 119, 75, 4;
  --my-gold-3: 162, 111, 15;
  --my-gold-4: 204, 150, 31;
  --my-gold-5: 247, 192, 52;
  --my-gold-6: 249, 204, 68;
  --my-gold-7: 250, 220, 108;
  --my-gold-8: 252, 233, 149;
  --my-gold-9: 253, 244, 190;
  --my-gold-10: 255, 252, 232;
  --my-yellow-1: 77, 56, 0;
  --my-yellow-2: 120, 94, 7;
  --my-yellow-3: 163, 134, 20;
  --my-yellow-4: 207, 179, 37;
  --my-yellow-5: 250, 225, 60;
  --my-yellow-6: 251, 233, 75;
  --my-yellow-7: 252, 243, 116;
  --my-yellow-8: 253, 250, 157;
  --my-yellow-9: 254, 254, 198;
  --my-yellow-10: 254, 255, 240;
  --my-lime-1: 42, 77, 0;
  --my-lime-2: 68, 112, 6;
  --my-lime-3: 98, 148, 18;
  --my-lime-4: 132, 183, 35;
  --my-lime-5: 168, 219, 57;
  --my-lime-6: 184, 226, 75;
  --my-lime-7: 203, 233, 112;
  --my-lime-8: 222, 241, 152;
  --my-lime-9: 238, 248, 194;
  --my-lime-10: 253, 255, 238;
  --my-green-1: 0, 77, 28;
  --my-green-2: 4, 102, 37;
  --my-green-3: 10, 128, 45;
  --my-green-4: 18, 154, 55;
  --my-green-5: 29, 180, 64;
  --my-green-6: 39, 195, 70;
  --my-green-7: 80, 210, 102;
  --my-green-8: 126, 225, 139;
  --my-green-9: 178, 240, 183;
  --my-green-10: 235, 255, 236;
  --my-cyan-1: 0, 66, 77;
  --my-cyan-2: 6, 97, 108;
  --my-cyan-3: 17, 131, 139;
  --my-cyan-4: 31, 166, 170;
  --my-cyan-5: 48, 201, 201;
  --my-cyan-6: 63, 212, 207;
  --my-cyan-7: 102, 223, 215;
  --my-cyan-8: 144, 233, 225;
  --my-cyan-9: 190, 244, 237;
  --my-cyan-10: 240, 255, 252;
  --my-blue-1: 0, 26, 77;
  --my-blue-2: 5, 47, 120;
  --my-blue-3: 19, 76, 163;
  --my-blue-4: 41, 113, 207;
  --my-blue-5: 70, 154, 250;
  --my-blue-6: 90, 170, 251;
  --my-blue-7: 125, 193, 252;
  --my-blue-8: 161, 213, 253;
  --my-blue-9: 198, 232, 254;
  --my-blue-10: 234, 248, 255;
  --my-arcoblue-1: 0, 13, 77;
  --my-arcoblue-2: 4, 27, 121;
  --my-arcoblue-3: 14, 50, 166;
  --my-arcoblue-4: 29, 77, 210;
  --my-arcoblue-5: 48, 111, 255;
  --my-arcoblue-6: 60, 126, 255;
  --my-arcoblue-7: 104, 159, 255;
  --my-arcoblue-8: 147, 190, 255;
  --my-arcoblue-9: 190, 218, 255;
  --my-arcoblue-10: 234, 244, 255;
  --my-purple-1: 22, 0, 77;
  --my-purple-2: 39, 6, 110;
  --my-purple-3: 62, 19, 143;
  --my-purple-4: 90, 37, 176;
  --my-purple-5: 123, 61, 209;
  --my-purple-6: 142, 81, 218;
  --my-purple-7: 169, 116, 227;
  --my-purple-8: 197, 154, 237;
  --my-purple-9: 223, 194, 246;
  --my-purple-10: 247, 237, 255;
  --my-pinkpurple-1: 66, 0, 77;
  --my-pinkpurple-2: 101, 3, 112;
  --my-pinkpurple-3: 138, 13, 147;
  --my-pinkpurple-4: 176, 27, 182;
  --my-pinkpurple-5: 217, 46, 217;
  --my-pinkpurple-6: 225, 61, 219;
  --my-pinkpurple-7: 232, 102, 223;
  --my-pinkpurple-8: 240, 146, 230;
  --my-pinkpurple-9: 247, 193, 240;
  --my-pinkpurple-10: 255, 242, 253;
  --my-magenta-1: 77, 0, 52;
  --my-magenta-2: 119, 8, 80;
  --my-magenta-3: 161, 23, 108;
  --my-magenta-4: 203, 43, 136;
  --my-magenta-5: 245, 69, 166;
  --my-magenta-6: 247, 86, 169;
  --my-magenta-7: 249, 122, 184;
  --my-magenta-8: 251, 158, 200;
  --my-magenta-9: 253, 195, 219;
  --my-magenta-10: 255, 232, 241;
  --my-gray-1: 23, 23, 26;
  --my-gray-2: 46, 46, 48;
  --my-gray-3: 72, 72, 73;
  --my-gray-4: 95, 95, 96;
  --my-gray-5: 120, 120, 122;
  --my-gray-6: 146, 146, 147;
  --my-gray-7: 171, 171, 172;
  --my-gray-8: 197, 197, 197;
  --my-gray-9: 223, 223, 223;
  --my-gray-10: 246, 246, 246;

  --my-ui-page-bg: 41, 41, 50;
  --my-ui-chat-bg: 49, 49, 58;
}
